@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #ededeb;
}
a {
  text-decoration: none;
}
.header {
  height: 85vh;
  background-image: linear-gradient(
      to right,
      rgba(132, 158, 22, 0.4),
      rgba(171, 235, 21, 0.4)
    ),
    url(img/street-photography.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.header__nav {
  padding-top: 20px;
  height: 61px;
  background-color: #97c6318a;
}
.logo {
  width: 170px;
  float: left;
  margin-left: 100px;
}
.nav__list {
  margin-right: 100px;
  float: right;
  list-style: none;
}
.nav__item {
  float: left;
}
.nav__link {
  padding: 18px;
  text-decoration: none;
  color: #333332;
  font-size: 20px;
  font-weight: 700;
}
.nav__link:hover {
  background-color: #ededeb;
}

.header__hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading__primary {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 48px;
}
.main {
  max-width: 1120px;
  margin: 0 auto;
}

/* Registration Form*/
#newsletter {
  background-color: #843973;
}

.form__wrap {
  padding: 50px;
  width: 400px;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  text-align: center;
  margin: 50px auto;
}
.form__wrap h1 {
  font-size: 46px;
  margin-bottom: 10px;
  color: coral;
}
.form__wrap a {
  color: coral;
}
.form__wrap a:hover {
  color: blue;
  transition: 0.5s ease;
}
.form__group {
  margin: 15px 0;
}
.form__group label {
  display: block;
  text-align: left;
}
.form__input {
  margin-top: 15px;
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid coral;
}
.btn {
  padding: 10px 50px;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: coral;
  border-radius: 5px;
  margin-bottom: 16px;
  cursor: pointer;
}

/*Icons*/

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  float: left;
  font-size: 51px !important;
}
